<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestAll">

    <test name="repositories">
        <classes>
            <class name="com.lohika.gap.tests.ManageRepositoriesTest" />
            <class name="com.lohika.gap.tests.RepositoryDescriptionTest" />
            <class name="com.lohika.gap.tests.RepositoryFilesTest" />
            <class name="com.lohika.gap.tests.ChangeSettingsTest" />
            <class name="com.lohika.gap.tests.LoginTest" />
        </classes>
    </test>

</suite>